# bot token (either DISCORD_TOKEN or TOKEN will be read)
TOKEN=MTQ2MTgwMDk5MTY3NzQ4MTE3Mw.G-jrNg.CZAb4hvntydgQc0mX59mDA30SF7vjT3Ns4pgo8
MONGODB_URI=mongodb+srv://nasif:Islam21346894@cluster0.ocvuxu0.mongodb.net/?appName=Cluster0
CLIENT_ID=1461800991677481173
GUILD_ID=1392294876019818526
